altgraph==0.17.2
auto-py-to-exe==2.11.0
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.15.0
click==8.0.3
colorama==0.4.4
Eel==0.12.4
Flask==2.0.3
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
numpy==1.20.2
pefile==2021.9.3
pgui==0.0.33
Pillow==8.2.0
pycparser==2.21
pygame==2.1.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
PyRECONSTRUCT==2.2.0
python-dotenv==0.19.1
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
SQLAlchemy==1.4.31
Werkzeug==2.0.3
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
